<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev>
            <jira_issue_collector>
                <url></url>
                <frontend>0</frontend>
                <adminhtml>0</adminhtml>
            </jira_issue_collector>
        </dev>
    </default>
</config>
